{% load i18n %}
{% load comments %}

<form method="POST" action="{% comment_form_target %}">
    {% csrf_token %}
    <fieldset>
        <input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}"/>

        <div class="alert alert-danger" data-comment-element="errors" hidden>
        </div>

        {% for field in form %}
          {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
        {% endfor %}

        <div style="display:none">{{ form.honeypot }}</div>

        {% if not request.user.is_authenticated or not request.user.username %}
          <div class="comments__form--field form-group {% if 'name' in form.errors %}has-danger{% endif %}">
            <label for="id_name" class="col-form-label">
              {{ form.name.label }}
            </label>
            {{ form.name }}
          </div>
        {% endif %}

        {% if not request.user.is_authenticated or not request.user.email %}
          <div class="comments__form--field form-group {% if 'email' in form.errors %}has-danger{% endif %}">
            <label for="id_email" class="col-form-label">
              {{ form.email.label }}
            </label>
            {{ form.email }}
            <span class="form-text small">{{ form.email.help_text }}</span>
          </div>
        {% endif %}

      {% comment %}
        {% if not request.user.is_authenticated %}
          <div class="comments__form--field form-group {% if 'url' in form.errors %}has-error{% endif %}">
            <label for="id_url" class="col-form-label">
              {{ form.url.label }}
            </label>
            {{ form.url }}
          </div>
        {% endif %}
      {% endcomment %}

        <div class="comments__form--comment form-group {% if 'comment' in form.errors %}has-danger{% endif %}">
          {{ form.comment }}
          <div class="comments__form--submit form-group">
            <input type="submit" name="post" value="{% trans 'Send' %}" class="btn btn-primary" />
            <input type="submit" name="preview" value="{% trans 'Preview' %}" class="btn btn-secondary" />
          </div>
          <div class="comments__form--field form-group">
            <div class="custom-control custom-checkbox">
              {{ form.followup }}
              <label for="id_followup{% if cid %}_{{ cid }}{% endif %}" class="custom-control-label">&nbsp;{{ form.followup.label }}</label>
            </div>
          </div>
        </div>

    </fieldset>

</form>
