{% if f_books.has_other_pages %}
  <ul class="pagination mt-30 justify-content-center">
    {% if f_books.has_previous %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ f_books.previous_page_number }}{{ f_params }}">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in f_books.paginator.page_range %}
      {% if f_books.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}{{ f_params }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if f_books.has_next %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ f_books.next_page_number }}{{ f_params }}">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
